#root {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  
  /* overflow-x: auto; */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.container.no-transition {
  scroll-behavior: auto;
}

.container.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.container.dragging .swiper-wrapper{
  cursor: grab;
  user-select: none;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  transition: transform .5s;
  /* margin-right: calc(-1 * 25% * 2.5); */
}

.swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.page {
  flex: calc(25% - 20px) 0 0;
  padding: 10px;
  border-radius: 50%;

  scroll-snap-align: start;
}

.first {
  background-color: rgb(255, 10, 0);
}

.second {
  background-color: rgb(255, 200, 0);
}

.third {
  background-color: rgb(255, 0, 200);
}

@media(max-width: 768px) {
  .swiper-wrapper {
    margin-left: calc(-1 * 50% * 3.5);
  }

  .page {
    flex: calc(50% - 20px) 0 0;
  }
}

@media(max-width: 568px) {
  .swiper-wrapper {
    margin-left: calc(-1 * 100% * 4);
  }
  
  .page {
    flex: calc(100% - 20px) 0 0;
  }
}